<a href="https://colab.research.google.com/github/J0SAL/Learning-ML/blob/main/Codebasis/FeatureEngineering/1_OutlierDetectRemove/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Outlier Detection and Removal

In [1]:
import pandas as pd
df = pd.read_csv('AB_NYC_2019.csv')
df.head()

     id  ... availability_365
0  2539  ...            365.0
1  2595  ...            355.0
2  3647  ...            365.0
3  3831  ...            194.0
4  5022  ...              0.0

[5 rows x 16 columns]

In [3]:
min_thresold, max_thresold = df.price.quantile([0.01, 0.999])
min_thresold, max_thresold

(30.0, 3000.0)

In [4]:
df[df.price<min_thresold]

             id  ... availability_365
957      375249  ...            226.0
2675    1428154  ...            321.0
2860    1620248  ...            137.0
3020    1767037  ...             50.0
3918    2431607  ...            258.0
...         ...  ...              ...
45594  34844773  ...            313.0
45595  34844961  ...            343.0
45600  34856733  ...            145.0
45642  34869203  ...              0.0
45646  34870577  ...              8.0

[376 rows x 16 columns]

In [5]:
df[df.price>min_thresold]

             id  ... availability_365
0          2539  ...            365.0
1          2595  ...            355.0
2          3647  ...            365.0
3          3831  ...            194.0
4          5022  ...              0.0
...         ...  ...              ...
45647  34871854  ...            233.0
45648  34885475  ...             50.0
45649  34885877  ...             97.0
45650  34886804  ...            301.0
45651  34887720  ...            277.0

[45049 rows x 16 columns]

In [6]:
df2 = df[(df.price>min_thresold) & (df.price<max_thresold)] 
df.shape, df2.shape

((45653, 16), (45000, 16))

In [10]:
df2.price.describe() ##good

count    45000.000000
mean       146.598667
std        150.508890
min         31.000000
25%         70.000000
50%        108.000000
75%        175.000000
max       2999.000000
Name: price, dtype: float64

In [11]:
df.price.describe() ##bad --before

count    45652.000000
mean       150.524643
std        237.401466
min          0.000000
25%         69.000000
50%        105.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64